{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Простой Калькулятор</h2>
        <form>
            {% csrf_token %}
            <div class="form-group">
              <label for="firstNumInput">Введите первое число:</label>
              <input type="number" id="firstNumInput" class="form-control" placeholder="целое число" required>
            </div>
            <div class="form-group">
              <label for="secondNumInput">Введите второе число:</label>
              <input type="number" id="secondNumInput" class="form-control" placeholder="целое число" required>
            </div>

            <button id="add" type="submit" class="btn btn-outline-primary">Сумма</button>
            <button id="subtract" type="submit" class="btn btn-outline-primary">Разность</button>
            <button id="multiply" type="submit" class="btn btn-outline-primary">Произведение</button>
            <button id="divide" type="submit" class="btn btn-outline-primary">Деление</button>
        </form>
        <br>
        <div class="card" style="width: 200px">
            <div class="card-body">
                <h5 class="card-title">Результат:</h5>
                <h3 id="card-text" class="card-text"></h3>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).on("click", "#add", function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url "api_v1:add" %}",
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                data: JSON.stringify({
                    A: $("#firstNumInput").val(),
                    B: $("#secondNumInput").val(),
                }),
                contentType: 'application/json',

                success: function (json) {
                    document.getElementById("card-text").innerHTML = json.answer;
                    document.getElementById("card-text").style.color = "green";
                },

                error: function (json) {
                    document.getElementById("card-text").innerHTML = json.responseJSON.error_msg;
                    document.getElementById("card-text").style.color = "red";
                }
            });
        });
    </script>
{% endblock content %}
